# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
.vs/WinSock2_Experiments/v15/ipch/WINSOCK2_EXPERIMENTS-6b4aa8bc/WINSOCK2_EXPERIMENTS-a50f7f6f.ipch
WinSock2_Experiments/WinSock2_Experiments.vcxproj.user
.vs/WinSock2_Experiments/v15/Browse.VC.opendb
